/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  /* text-align: center; */
  color: yellow;
  margin: 0;
  padding: 0;
}

#outer-box{
  border: 10px solid purple;
}
.white-text{
  color: white;
}
.box-inner-box{
  background-color: red;
  padding: 10px;
}